display-goal {
	display: inline-block;
	margin: 20px 40px;
}
.goal-dashboard {
	margin-top: 30px;
	margin-bottom: 50px;
}
.goal-block {
	height: 200px;
	width: 250px;
}
h4 {
	color: #2F353B;
	font-size: 1.5em;
}
h5 {
	font-size: 1.25em;
	color: #32C5D2;
}
.create-div {
	background-color: #F7F7F7;
	height: 200px;
}
.create-header {
	margin-left: 15px;
}
.goal-starter {
	margin-left: 15px;
}
input {
	border-radius: 0;
}
.build {
	margin-top: 20px;
}
#new-goal {
	height: 50px;
    width: 200px;
    margin: 0 20px;
    font-family: Helvetica;
    font-size: 1.35em;
    background-color: #2F353B;
    border-radius: 0;
    border: none;
    color: #32C5D2;
}