.goal-builder {
	margin-top: 65px;
}
.goal-detail {
	border: 1px solid lightgrey;
	height: 530px;
}
.timeline-div {
	border: 1px solid lightgrey;
	height: 530px;
}
.save-goal {
	text-align: center;
}
button.btn.btn-default.save {
	height: 40px;
    font-family: Helvetica;
    font-size: 1.25em;
    background-color: #B1B1B1;
    border-radius: 0;
    border: none;
    color: white;
    margin-bottom: 5px;
}